<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" >

    <listeners>
        <listener class-name="com.framework.report.ListenerImplementation"/>
    </listeners>

    <test name=" chrome Demo ToolsQA Tests">
        <parameter name="URL" value="https://demoqa.com/register"/>
        <parameter name="browserName" value="chrome"/>
        <classes>
            <!--            <class name="com.framework.tests.ExtentReportTest"/>
                        <class name="com.framework.tests.ElementsTestUtils"/> -->
            <class name="com.framework.tests.TestClass"/>
        </classes>
    </test>

</suite>