<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test preserve-order="true" name=" Demo ToolsQA Tests">
        <parameter name="URL" value="https://demoqa.com/register"/>
        <classes>
<!--            <class name="com.framework.tests.TestUtilsClass"/>
            <class name="com.framework.tests.ElementsTestUtils"/> -->
            <class name ="com.framework.tests.FormPageTest" />
        </classes>
    </test>



<!--    <test name="Test 2 ">
        <parameter name="URL" value="https://www.techlistic.com/p/demo-selenium-practice.html"/>
        <classes>
            <class name="com.framework.tests.WebTablesPageTests"/>
        </classes>
    </test>-->

</suite>